.navbar {
	display: flex;
	justify-content: space-between;
	background-color: $color-primary-dark;
	color: white;
	background-clip: padding-box;
}

.logo {
	display: flex;
	margin-left: 1.5rem;

	&__text {
		font-size: 2rem;
		color: white;
		display: flex;
		align-items: center;
	}
}

.nav {
	display: flex;
	margin-right: 1.5rem;

	.nav-link {
		padding: 2rem 1rem;
		cursor: pointer;
		transition: all 0.4s;
		font-size: 1.2rem;

		&:hover {
			background-color: white;
			background-clip: padding-box;
			color: teal;
		}
	}
}
