/* Colors */

$color-primary: #038c8c;
$color-primary-light: #03a696;
$color-primary-dark: #026873;

$color-secondary-light: #4192d9;
$color-secondark-dark: #035aa6;

/* Color Theme Swatches in Hex */
$color-dark-1: #65858c;
$color-dark-2: #315259;
$color-dark-3: #173440;

$color-white-1: #f6f6f6;
$color-white-2: #8fddd8;

/* Color Theme Swatches in Hex */
$My-Color-Theme-1-hex: #ffc432;
$My-Color-Theme-2-hex: #5cc0c7;
$My-Color-Theme-3-hex: #079bab;
$My-Color-Theme-4-hex: #005d70;
$My-Color-Theme-5-hex: #0d212c;

/* Box Shadow */

$note-card-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
